In [9]:
import pandas as pd

In [35]:
total = pd.read_csv('./A007120.csv')
total.sort_values(['date','time'], inplace=True) # 내림차순 정렬
total.rename(columns={'filename':'name'}, inplace=True)
total.reset_index(inplace=True)
total.drop('index', axis=1, inplace=True)
total

,date,time,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract
0,20230622,901,1725,1725,1725,1725,1728,0,1728
1,20230622,902,1724,1724,1721,1724,458,408,1778
2,20230622,903,1720,1724,1712,1724,627,954,1859
3,20230622,904,1724,1724,1711,1713,561,1495,1879
4,20230622,905,1714,1723,1702,1713,2857,4259,1972
...,...,...,...,...,...,...,...,...,...
1828,20230630,1517,1743,1743,1732,1740,314,74878,140815
1829,20230630,1518,1739,1744,1731,1744,5274,80142,140825
1830,20230630,1519,1744,1744,1742,1743,183,80148,141002
1831,20230630,1520,1742,1742,1742,1742,1,80149,141002
1832,20230630,1530,1742,1742,1742,1742,1903,80149,142905

In [34]:
import ta
import talib
H, L, C, V = total['high'], total['low'], total['close'], total['volume']

total['bol_high'] = ta.volatility.bollinger_hband(C)
total['bol_low']  = ta.volatility.bollinger_lband(C)
total['MFI'] = ta.volume.money_flow_index(
    high=H, low=L, close=C, volume=V, fillna=True)

total['ADI'] = ta.volume.acc_dist_index(
    high=H, low=L, close=C, volume=V, fillna=True)

total['OBV'] = ta.volume.on_balance_volume(close=C, volume=V, fillna=True)
total['CMF'] = ta.volume.chaikin_money_flow(
    high=H, low=L, close=C, volume=V, fillna=True)

total['FI'] = ta.volume.force_index(close=C, volume=V, fillna=True)
total['EOM, EMV'] = ta.volume.ease_of_movement(
    high=H, low=L, volume=V, fillna=True)

total['VPT'] = ta.volume.volume_price_trend(close=C, volume=V, fillna=True)
total['NVI'] = ta.volume.negative_volume_index(close=C, volume=V, fillna=True)
total['VMAP'] = ta.volume.volume_weighted_average_price(
    high=H, low=L, close=C, volume=V, fillna=True)

# Volatility
total['ATR'] = ta.volatility.average_true_range(
    high=H, low=L, close=C, fillna=True)
total['BHB'] = ta.volatility.bollinger_hband(close=C, fillna=True)
total['BLB'] = ta.volatility.bollinger_lband(close=C, fillna=True)
total['KCH'] = ta.volatility.keltner_channel_hband(
    high=H, low=L, close=C, fillna=True)
total['KCL'] = ta.volatility.keltner_channel_lband(
    high=H, low=L, close=C, fillna=True)
total['KCM'] = ta.volatility.keltner_channel_mband(
    high=H, low=L, close=C, fillna=True)
total['DCH'] = ta.volatility.donchian_channel_hband(
    high=H, low=L, close=C, fillna=True)
total['DCL'] = ta.volatility.donchian_channel_lband(
    high=H, low=L, close=C, fillna=True)
total['DCM'] = ta.volatility.donchian_channel_mband(
    high=H, low=L, close=C, fillna=True)
total['UI'] = ta.volatility.ulcer_index(close=C, fillna=True)
# Trend
total['SMA'] = ta.trend.sma_indicator(close=C, fillna=True)
total['EMA'] = ta.trend.ema_indicator(close=C, fillna=True)
total['WMA'] = ta.trend.wma_indicator(close=C, fillna=True)
total['MACD'] = ta.trend.macd(close=C, fillna=True)
total['ADX'] = ta.trend.adx(high=H, low=L, close=C, fillna=True)
total['-VI'] = ta.trend.vortex_indicator_neg(
    high=H, low=L, close=C, fillna=True)
total['+VI'] = ta.trend.vortex_indicator_pos(
    high=H, low=L, close=C, fillna=True)
total['TRIX'] = ta.trend.trix(close=C, fillna=True)
total['MI'] = ta.trend.mass_index(high=H, low=L, fillna=True)
total['CCI'] = ta.trend.cci(high=H, low=L, close=C, fillna=True)
total['DPO'] = ta.trend.dpo(close=C, fillna=True)
total['KST'] = ta.trend.kst(close=C, fillna=True)
total['Ichimoku'] = ta.trend.ichimoku_a(high=H, low=L, fillna=True)
total['Parabolic SAR'] = ta.trend.psar_down(
    high=H, low=L, close=C, fillna=True)
total['STC'] = ta.trend.stc(close=C, fillna=True)
# Momentum
total['RSI'] = ta.momentum.rsi(close=C, fillna=True)
total['SRSI'] = ta.momentum.stochrsi(close=C, fillna=True)
total['TSI'] = ta.momentum.tsi(close=C, fillna=True)
total['UO'] = ta.momentum.ultimate_oscillator(
    high=H, low=L, close=C, fillna=True)
total['SR'] = ta.momentum.stoch(close=C, high=H, low=L, fillna=True)
total['WR'] = ta.momentum.williams_r(high=H, low=L, close=C, fillna=True)
total['AO'] = ta.momentum.awesome_oscillator(high=H, low=L, fillna=True)
total['KAMA'] = ta.momentum.kama(close=C, fillna=True)
total['ROC'] = ta.momentum.roc(close=C, fillna=True)
total['PPO'] = ta.momentum.ppo(close=C, fillna=True)
total['PVO'] = ta.momentum.pvo(volume=V, fillna=True)

#등락률 계산
total["shift"] = total["close"].shift(1)
total["change"] = (total["close"] - total["shift"]) / total["shift"]

total["origin chage"] = (total["open"] - total["shift"]) / total["shift"]
total.drop("shift", axis=1).to_clipboard(index=False)
#이동평균선
total['MA5'] = talib.SMA(total['close'], 5)
total['MA10'] = talib.SMA(total['close'], 10)
total['MA20'] = talib.SMA(total['close'], 20)
total['MA60'] = talib.SMA(total['close'], 60)
total['MA120'] = talib.SMA(total['close'], 120)

total['ratio close MA5'] = total["close"] / total["MA5"]
total['ratio close MA10'] = total["close"] / total["MA10"]
total['ratio close MA20'] = total["close"] / total["MA20"]
total['ratio close MA60'] = total["close"] / total["MA60"]
total['ratio close MA120'] = total["close"] / total["MA120"]
#이동거래평균선
total['MA5 VOLUME'] = talib.SMA(total['volume'], 5)
total['MA10 VOLUME'] = talib.SMA(total['volume'], 10)
total['MA20 VOLUME'] = talib.SMA(total['volume'], 20)
total['MA60 VOLUME'] = talib.SMA(total['volume'], 60)
total['MA120 VOLUME'] = talib.SMA(total['volume'], 120)


total

c:\Users\TJ\anaconda3\envs\pro64\lib\site-packages\ta\trend.py:780: RuntimeWarning: invalid value encountered in scalar divide
  dip[idx] = 100 * (self._dip[idx] / value)
c:\Users\TJ\anaconda3\envs\pro64\lib\site-packages\ta\trend.py:785: RuntimeWarning: invalid value encountered in scalar divide
  din[idx] = 100 * (self._din[idx] / value)

AttributeError: module 'ta' has no attribute 'SMA'

,date,time,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract,MA5 VOLUME,MA10 VOLUME,MA20 VOLUME,MA60 VOLUME,MA120 VOLUME
0,20230622,901,1725,1725,1725,1725,1728,0,1728,NaN,NaN,NaN,NaN,NaN
1,20230622,902,1724,1724,1721,1724,458,408,1778,NaN,NaN,NaN,NaN,NaN
2,20230622,903,1720,1724,1712,1724,627,954,1859,NaN,NaN,NaN,NaN,NaN
3,20230622,904,1724,1724,1711,1713,561,1495,1879,NaN,NaN,NaN,NaN,NaN
4,20230622,905,1714,1723,1702,1713,2857,4259,1972,1246.2,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,20230622,1102,1749,1749,1749,1749,4,24523,33005,175.4,132.3,371.75,523.633333,NaN
96,20230622,1103,1749,1749,1739,1739,160,24673,33015,171.2,148.1,379.70,512.316667,NaN
97,20230622,1105,1749,1749,1749,1749,11,24673,33026,73.4,131.2,282.65,502.550000,NaN
98,20230622,1111,1749,1750,1749,1750,580,24673,33606,153.0,175.8,309.70,512.050000,NaN
99,20230622,1112,1750,1750,1750,1750,10,24673,33616,153.0,165.6,156.45,510.283333,NaN

In [33]:
total.isna().sum()

date                               0
time                               0
open                               0
high                               0
low                                0
close                              0
volume                             0
Accumulated sales volume           0
Accumulated number of contract     0
bol_high                          19
bol_low                           19
MFI                                0
ADI                                0
OBV                                0
CMF                                0
FI                                 0
EOM, EMV                           0
VPT                                0
NVI                                0
VMAP                               0
ATR                                0
BHB                                0
BLB                                0
KCH                                0
KCL                                0
KCM                                0
DCH                                0
DCL                                0
DCM                                0
UI                                 0
SMA                                0
EMA                                0
WMA                                0
MACD                               0
ADX                                0
-VI                                0
+VI                                0
TRIX                               0
MI                                 0
CCI                                0
DPO                                0
KST                                0
Ichimoku                           0
Parabolic SAR                      0
STC                                0
RSI                                0
SRSI                               0
TSI                                0
UO                                 0
SR                                 0
WR                                 0
AO                                 0
KAMA                               0
ROC                                0
PPO                                0
PVO                                0
shift                              1
change                             1
origin chage                       1
dtype: int64