In [1]:
import pandas as pd

In [2]:
total = pd.read_csv('./A007120.csv')
total.sort_values(['date','time'], inplace=True) # 내림차순 정렬
total.rename(columns={'filename':'name'}, inplace=True)
total.reset_index(inplace=True)
total.drop('index', axis=1, inplace=True)
total

,date,time,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract
0,20230622,901,1725,1725,1725,1725,1728,0,1728
1,20230622,902,1724,1724,1721,1724,458,408,1778
2,20230622,903,1720,1724,1712,1724,627,954,1859
3,20230622,904,1724,1724,1711,1713,561,1495,1879
4,20230622,905,1714,1723,1702,1713,2857,4259,1972
...,...,...,...,...,...,...,...,...,...
1828,20230630,1517,1743,1743,1732,1740,314,74878,140815
1829,20230630,1518,1739,1744,1731,1744,5274,80142,140825
1830,20230630,1519,1744,1744,1742,1743,183,80148,141002
1831,20230630,1520,1742,1742,1742,1742,1,80149,141002
1832,20230630,1530,1742,1742,1742,1742,1903,80149,142905

In [5]:
import ta
import talib
import numpy as np
import pandas as pd
import scipy
from tqdm.notebook import tqdm
H, L, C, V = total['high'], total['low'], total['close'], total['volume']

total['MFI'] = ta.volume.money_flow_index(
    high=H, low=L, close=C, volume=V, fillna=True)

total['ADI'] = ta.volume.acc_dist_index(
    high=H, low=L, close=C, volume=V, fillna=True)

total['OBV'] = ta.volume.on_balance_volume(close=C, volume=V, fillna=True)
total['CMF'] = ta.volume.chaikin_money_flow(
    high=H, low=L, close=C, volume=V, fillna=True)

total['FI'] = ta.volume.force_index(close=C, volume=V, fillna=True)
total['EOM, EMV'] = ta.volume.ease_of_movement(
    high=H, low=L, volume=V, fillna=True)

total['VPT'] = ta.volume.volume_price_trend(close=C, volume=V, fillna=True)
total['NVI'] = ta.volume.negative_volume_index(close=C, volume=V, fillna=True)
total['VMAP'] = ta.volume.volume_weighted_average_price(
    high=H, low=L, close=C, volume=V, fillna=True)

# Volatility
total['ATR'] = ta.volatility.average_true_range(
    high=H, low=L, close=C, fillna=True)
total['BHB'] = ta.volatility.bollinger_hband(close=C, fillna=True)
total['BLB'] = ta.volatility.bollinger_lband(close=C, fillna=True)
total['KCH'] = ta.volatility.keltner_channel_hband(
    high=H, low=L, close=C, fillna=True)
total['KCL'] = ta.volatility.keltner_channel_lband(
    high=H, low=L, close=C, fillna=True)
total['KCM'] = ta.volatility.keltner_channel_mband(
    high=H, low=L, close=C, fillna=True)
total['DCH'] = ta.volatility.donchian_channel_hband(
    high=H, low=L, close=C, fillna=True)
total['DCL'] = ta.volatility.donchian_channel_lband(
    high=H, low=L, close=C, fillna=True)
total['DCM'] = ta.volatility.donchian_channel_mband(
    high=H, low=L, close=C, fillna=True)
total['UI'] = ta.volatility.ulcer_index(close=C, fillna=True)
# Trend
# total['SMA'] = ta.trend.sma_indicator(close=C, fillna=True)
# total['EMA'] = ta.trend.ema_indicator(close=C, fillna=True)
total['WMA'] = ta.trend.wma_indicator(close=C, fillna=True)
total['MACD'] = ta.trend.macd(close=C, fillna=True)
total['ADX'] = ta.trend.adx(high=H, low=L, close=C, fillna=True)
total['-VI'] = ta.trend.vortex_indicator_neg(
    high=H, low=L, close=C, fillna=True)
total['+VI'] = ta.trend.vortex_indicator_pos(
    high=H, low=L, close=C, fillna=True)
total['TRIX'] = ta.trend.trix(close=C, fillna=True)
total['MI'] = ta.trend.mass_index(high=H, low=L, fillna=True)
total['CCI'] = ta.trend.cci(high=H, low=L, close=C, fillna=True)
total['DPO'] = ta.trend.dpo(close=C, fillna=True)
total['KST'] = ta.trend.kst(close=C, fillna=True)
total['Ichimoku'] = ta.trend.ichimoku_a(high=H, low=L, fillna=True)
total['Parabolic SAR'] = ta.trend.psar_down(
    high=H, low=L, close=C, fillna=True)
total['STC'] = ta.trend.stc(close=C, fillna=True)
# Momentum
total['RSI'] = ta.momentum.rsi(close=C, fillna=True)
total['SRSI'] = ta.momentum.stochrsi(close=C, fillna=True)
total['TSI'] = ta.momentum.tsi(close=C, fillna=True)
total['UO'] = ta.momentum.ultimate_oscillator(
    high=H, low=L, close=C, fillna=True)
total['SR'] = ta.momentum.stoch(close=C, high=H, low=L, fillna=True)
total['WR'] = ta.momentum.williams_r(high=H, low=L, close=C, fillna=True)
total['AO'] = ta.momentum.awesome_oscillator(high=H, low=L, fillna=True)
total['KAMA'] = ta.momentum.kama(close=C, fillna=True)
total['ROC'] = ta.momentum.roc(close=C, fillna=True)
total['PPO'] = ta.momentum.ppo(close=C, fillna=True)
total['PVO'] = ta.momentum.pvo(volume=V, fillna=True)

#등락률 계산
total["close yesterday"] = total["close"].shift(1)
total["change"] = ((total["close"] - total["close yesterday"]) / total["close yesterday"])*100
total["ratio high close"] = ((total["high"] - total["close yesterday"]) / total["close yesterday"])*100
total["ratio low close"] = ((total["low"] - total["close yesterday"]) / total["close yesterday"])*100
total["ratio open close"] = (total["open"] - total["close yesterday"]) / total["close yesterday"]*100
total.drop("close yesterday", axis=1).to_clipboard(index=False)
#이동평균선
total['MA5'] = talib.SMA(total['close'], 5)
total['MA10'] = talib.SMA(total['close'], 10)
total['MA20'] = talib.SMA(total['close'], 20)
total['MA60'] = talib.SMA(total['close'], 60)
total['MA120'] = talib.SMA(total['close'], 120)

#지수평균선
total['EMA5'] = talib.EMA(total['close'], 5)
total['EMA10'] = talib.EMA(total['close'], 12)
total['EMA20'] = talib.EMA(total['close'], 20)
total['EMA60'] = talib.EMA(total['close'], 30)
total['EMA120'] = talib.EMA(total['close'], 90)

total['ratio close MA5'] = total["close"] / total["MA5"]
total['ratio close MA10'] = total["close"] / total["MA10"]
total['ratio close MA20'] = total["close"] / total["MA20"]
total['ratio close MA60'] = total["close"] / total["MA60"]
total['ratio close MA120'] = total["close"] / total["MA120"]

#이동거래평균선
total['MA5 VOLUME'] = talib.SMA(total['volume'], 5)
total['MA10 VOLUME'] = talib.SMA(total['volume'], 10)
total['MA20 VOLUME'] = talib.SMA(total['volume'], 20)
total['MA60 VOLUME'] = talib.SMA(total['volume'], 60)
total['MA120 VOLUME'] = talib.SMA(total['volume'], 120)

# find peaks
peaks = []
peaks.extend(scipy.signal.find_peaks(total['close'], distance=5, width=10)[0])
peaks.extend(scipy.signal.find_peaks(-total['close'], distance=5, width=10)[0])
if len(total)-1 not in peaks:
    peaks.append(len(total)-1)

#수익성, 안정성, 유동성 지표 추가
total['peak_date'] = ''
total['peak_close'] = np.nan
total['peak_diffratio'] = np.nan
total['interpeak_mdd'] = np.nan
total['interpeak_trans_price_exp'] = np.nan

_last_date = ''  # 이전 날짜를 저장하는 변수 초기화
for peak in peaks:  # peaks 리스트의 각 peak에 대해 반복
    _date = total.iloc[peak]['date']  # 현재 peak의 날짜 저장
    _close = total.iloc[peak]['close']  # 현재 peak의 종가 저장
    mask = (total['date'] >= _last_date) & (total['date'] <= _date)  # 이전 날짜부터 현재 peak 날짜까지의 mask 생성
    _last_date = _date  # 이전 날짜를 현재 peak의 날짜로 업데이트
    if len(total[mask]) > 0:  # mask에 해당하는 데이터가 있는 경우
        total.loc[mask, 'peak_date'] = _date  # mask에 해당하는 행의 'peak_date' 열에 현재 peak의 날짜 저장
        total.loc[mask, 'peak_close'] = _close  # mask에 해당하는 행의 'peak_close' 열에 현재 peak의 종가 저장
        _x = np.array(total.loc[mask, 'close'])  # mask에 해당하는 행의 'close' 열을 numpy 배열로 변환하여 _x에 저장
        lower = np.argmax(np.maximum.accumulate(_x) - _x)  # 최대값을 누적한 후 현재 값과의 차이 중 최대값의 인덱스를 lower에 저장
        upper = np.argmax(_x[:lower+1])  # lower 이전까지의 값 중 최대값의 인덱스를 upper에 저장
        total.loc[mask, 'interpeak_mdd'] = (_x[lower] - _x[upper]) / _x[upper]  # mask에 해당하는 행의 'interpeak_mdd' 열에 MDD 계산 결과 저장
        total.loc[mask, 'interpeak_trans_price_exp'] = total.loc[mask, 'trans_price_exp'].mean()  # mask에 해당하는 행의 'interpeak_trans_price_exp' 열에 'trans_price_exp' 열의 평균값 저장
        
total.loc[:, 'peak_diffratio'] = (total.loc[:, 'peak_close'] - total.loc[:, 'close']) / total.loc[:, 'close']  # 'peak_diffratio' 열에 종가와 peak 종가의 차이 비율 계산하여 저장
total = total.drop(['peak_date', 'peak_close'], axis=1)  # 'peak_date'와 'peak_close' 열 삭제



total

c:\Users\TJ\anaconda3\envs\pro64\lib\site-packages\ta\trend.py:780: RuntimeWarning: invalid value encountered in scalar divide
  dip[idx] = 100 * (self._dip[idx] / value)
c:\Users\TJ\anaconda3\envs\pro64\lib\site-packages\ta\trend.py:785: RuntimeWarning: invalid value encountered in scalar divide
  din[idx] = 100 * (self._din[idx] / value)

,date,time,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract,MFI,...,ratio close MA5,ratio close MA10,ratio close MA20,ratio close MA60,ratio close MA120,MA5 VOLUME,MA10 VOLUME,MA20 VOLUME,MA60 VOLUME,MA120 VOLUME
0,20230622,901,1725,1725,1725,1725,1728,0,1728,50.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20230622,902,1724,1724,1721,1724,458,408,1778,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20230622,903,1720,1724,1712,1724,627,954,1859,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20230622,904,1724,1724,1711,1713,561,1495,1879,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20230622,905,1714,1723,1702,1713,2857,4259,1972,0.000000,...,0.996046,NaN,NaN,NaN,NaN,1246.2,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1828,20230630,1517,1743,1743,1732,1740,314,74878,140815,70.431502,...,0.998164,0.997592,0.998479,0.996916,0.998565,289.4,159.9,444.55,402.466667,596.408333
1829,20230630,1518,1739,1744,1731,1744,5274,80142,140825,87.452483,...,1.000689,0.999943,1.000775,0.999274,1.000803,1271.4,686.0,707.25,489.000000,637.125000
1830,20230630,1519,1744,1744,1742,1743,183,80148,141002,91.380895,...,1.000230,0.999484,1.000258,0.998768,1.000172,1301.2,703.9,586.50,490.683333,637.816667
1831,20230630,1520,1742,1742,1742,1742,1,80149,141002,91.258274,...,0.999770,0.999082,0.999627,0.998271,0.999546,1272.6,692.1,533.50,489.266667,636.916667
1832,20230630,1530,1742,1742,1742,1742,1903,80149,142905,90.354052,...,0.999885,0.999312,0.999684,0.998357,0.999498,1535.0,881.9,625.45,514.616667,646.216667

In [ ]:
col_list=['date', 'time', 'open', 'high', 'low', 'close', 'volume',
       'Accumulated sales volume', 'Accumulated number of contract', 'MFI',
       'ADI', 'OBV', 'CMF', 'FI', 'EOM, EMV', 'VPT', 'NVI', 'VMAP', 'ATR',
       'BHB', 'BLB', 'KCH', 'KCL', 'KCM', 'DCH', 'DCL', 'DCM', 'UI', 'WMA',
       'MACD', 'ADX', '-VI', '+VI', 'TRIX', 'MI', 'CCI', 'DPO', 'KST',
       'Ichimoku', 'Parabolic SAR', 'STC', 'RSI', 'SRSI', 'TSI', 'UO', 'SR',
       'WR', 'AO', 'KAMA', 'ROC', 'PPO', 'PVO', 'shift', 'change',
       'origin chage', 'MA5', 'MA10', 'MA20', 'MA60', 'MA120', 'EMA5', 'EMA10',
       'EMA20', 'EMA60', 'EMA120', 'ratio close MA5', 'ratio close MA10',
       'ratio close MA20', 'ratio close MA60', 'ratio close MA120',
       'MA5 VOLUME', 'MA10 VOLUME', 'MA20 VOLUME', 'MA60 VOLUME',
       'MA120 VOLUME']

            
total.EMA5

0               NaN
1               NaN
2               NaN
3               NaN
4       1719.800000
           ...
1828    1742.509184
1829    1743.006123
1830    1743.004082
1831    1742.669388
1832    1742.446259
Name: EMA5, Length: 1833, dtype: float64

In [ ]:
total.describe()

,time,open,high,low,close,volume,Accumulated sales volume,Accumulated number of contract,MFI,ADI,...,ratio close MA5,ratio close MA10,ratio close MA20,ratio close MA60,ratio close MA120,MA5 VOLUME,MA10 VOLUME,MA20 VOLUME,MA60 VOLUME,MA120 VOLUME
count,1833.000000,1833.000000,1833.000000,1833.000000,1833.000000,1833.000000,1833.000000,1833.000000,1833.000000,1833.000000,...,1829.000000,1824.000000,1814.000000,1774.000000,1714.000000,1829.000000,1824.000000,1814.000000,1774.000000,1714.000000
mean,1192.153846,1699.241680,1700.337152,1698.009274,1699.435352,753.698309,56948.047463,49380.698854,41.567578,54539.106688,...,1.000015,1.000040,1.000073,1.000056,0.999990,752.792674,751.428728,752.321803,755.234602,761.610161
std,192.632403,34.530506,34.669522,34.336974,34.572598,1575.154087,32965.328522,36984.407272,30.234385,51304.111444,...,0.002205,0.002868,0.003754,0.005834,0.007804,819.420328,638.335319,508.355100,320.284248,223.702715
min,901.000000,1622.000000,1622.000000,1620.000000,1620.000000,1.000000,0.000000,758.000000,0.000000,-11546.194232,...,0.989373,0.987257,0.985758,0.980141,0.976290,2.800000,28.500000,90.300000,246.083333,298.441667
25%,1020.000000,1668.000000,1669.000000,1667.000000,1669.000000,13.000000,30396.000000,22816.000000,14.713427,23287.239102,...,0.998949,0.998495,0.997981,0.996623,0.994720,219.800000,281.175000,384.487500,540.041667,578.145833
50%,1209.000000,1694.000000,1695.000000,1692.000000,1694.000000,136.000000,53942.000000,34561.000000,36.612401,37188.054830,...,1.000117,1.000179,1.000102,1.000005,0.999809,435.000000,558.950000,612.800000,683.966667,763.095833
75%,1346.000000,1729.000000,1730.000000,1728.000000,1729.000000,800.000000,80149.000000,60630.000000,67.821704,52850.854830,...,1.001140,1.001425,1.001775,1.003074,1.005256,999.000000,1042.275000,958.600000,957.691667,932.425000
max,1530.000000,1773.000000,1775.000000,1766.000000,1774.000000,26786.000000,144066.000000,178724.000000,99.906753,193327.801064,...,1.022635,1.024469,1.025834,1.023640,1.024840,7853.600000,5192.800000,3573.150000,1713.866667,1228.025000

In [ ]:
chart_data.index = pd.to_datetime(chart_data.date) 
chart_data = chart_data.iloc[:, 1:]

a = chart_data.isnull().sum(0)
nullCol = [x for x in a.index if a[x] != 0]

if len(nullCol) > 0:
    for c in nullCol:
        print('{} has Null'.format(c))
        chart_data[c] = chart_data[c].interpolate(method='time')


total = total.iloc[:, 1:]

a = total.isnull().sum(0) 
nullCol = [x for x in a.index if a[x] != 0]
if len(nullCol) > 0:
    for c in nullCol:
        print('{} has Null'.format(c))
        total[c] = total[c].interpolate(method='time')

shift has Null

ValueError: time-weighted interpolation only works on Series or DataFrames with a DatetimeIndex

In [ ]:
total.isna().sum()

date                               0
time                               0
open                               0
high                               0
low                                0
close                              0
volume                             0
Accumulated sales volume           0
Accumulated number of contract     0
bol_high                          19
bol_low                           19
MFI                                0
ADI                                0
OBV                                0
CMF                                0
FI                                 0
EOM, EMV                           0
VPT                                0
NVI                                0
VMAP                               0
ATR                                0
BHB                                0
BLB                                0
KCH                                0
KCL                                0
KCM                                0
DCH                                0
DCL                                0
DCM                                0
UI                                 0
SMA                                0
EMA                                0
WMA                                0
MACD                               0
ADX                                0
-VI                                0
+VI                                0
TRIX                               0
MI                                 0
CCI                                0
DPO                                0
KST                                0
Ichimoku                           0
Parabolic SAR                      0
STC                                0
RSI                                0
SRSI                               0
TSI                                0
UO                                 0
SR                                 0
WR                                 0
AO                                 0
KAMA                               0
ROC                                0
PPO                                0
PVO                                0
shift                              1
change                             1
origin chage                       1
dtype: int64