In [1]:
import requests
from bs4 import BeautifulSoup

URL = "https://finance.naver.com/item/main.nhn?code=005930"

samsung_electronic = requests.get(URL)
html = samsung_electronic.text

soup = BeautifulSoup(html, 'html.parser')

In [2]:
finance_html = soup.select('div.section.cop_analysis div.sub_section')


print(finance_html)

[<div class="sub_section">
<table class="tb_type1 tb_num tb_type1_ifrs" summary="기업실적분석에 관한표이며 주요재무정보를 최근 연간 실적, 분기 실적에 따라 정보를 제공합니다.">
<caption>기업실적분석 테이블</caption>
<colgroup>
<col width="86"/>
<col width="59"/>
<col width="59"/>
<col width="59"/>
<col width="62"/>
<col width="58"/>
<col width="58"/>
<col width="58"/>
<col width="58"/>
<col/>
</colgroup>
<thead>
<tr class="t_line">
<th class="h_th2 th_cop_anal5 b_line" rowspan="3"><strong>주요재무정보</strong></th>
<th class="h_th2 th_cop_anal6" colspan="4" scope="col"><strong>최근 연간 실적</strong></th>
<th class="h_th2 th_cop_anal7 last" colspan="6" scope="col"><strong>최근 분기 실적</strong></th>
</tr>
<tr>
<th class="" scope="col">
											2020.12
										</th>
<th class="" scope="col">
											2021.12
										</th>
<th class="" scope="col">
											2022.12
										</th>
<th class="t_line cell_strong" scope="col">
											2023.12<em>(E)</em>
</th>
<th class="" scope="col">
											2022.03
										</th>
<th class="" scope="col">
											2022.06
										</th>
<th class="" scope="col">
											2022.09
										</th>
<th class="" scope="col">
											2022.12
										</th>
<th class="" scope="col">
											2023.03
										</th>
<th class="last cell_strong" scope="col">
											2023.06<em>(E)</em>
</th>
</tr>
<tr class="b_line">
<th class="link_ifrs" scope="col"><span>



											IFRS연결

									</span></th>
<th class="link_ifrs" scope="col"><span>



											IFRS연결

									</span></th>
<th class="link_ifrs" scope="col"><span>



											IFRS연결

									</span></th>
<th class="link_ifrs t_line cell_strong" scope="col"><span>



											IFRS연결

									</span></th>
<th class="link_ifrs" scope="col"><span>



											IFRS연결

									</span></th>
<th class="link_ifrs" scope="col"><span>



											IFRS연결

									</span></th>
<th class="link_ifrs" scope="col"><span>



											IFRS연결

									</span></th>
<th class="link_ifrs" scope="col"><span>



											IFRS연결

									</span></th>
<th class="link_ifrs" scope="col"><span>



											IFRS연결

									</span></th>
<th class="link_ifrs last cell_strong" scope="col"><span>



											IFRS연결

									</span></th>
</tr>
</thead>
<tbody>
<tr>
<th class="h_th2 th_cop_anal8" scope="row"><strong>매출액</strong></th>
<td class="">



				2,368,070


										</td>
<td class="">



				2,796,048


										</td>
<td class="">



				3,022,314


										</td>
<td class="t_line cell_strong">



				2,680,556


										</td>
<td class="">



				777,815


										</td>
<td class="">



				772,036


										</td>
<td class="">



				767,817


										</td>
<td class="">



				704,646


										</td>
<td class="">



				637,454


										</td>
<td class="last cell_strong">



				621,614


										</td>
</tr>
<tr>
<th class="h_th2 th_cop_anal9" scope="row"><strong>영업이익</strong></th>
<td class="">



				359,939


										</td>
<td class="">



				516,339


										</td>
<td class="">



				433,766


										</td>
<td class="t_line cell_strong">



				96,433


										</td>
<td class="">



				141,214


										</td>
<td class="">



				140,970


										</td>
<td class="">



				108,520


										</td>
<td class="">



				43,061


										</td>
<td class="">



				6,402


										</td>
<td class="last cell_strong">



				1,931


										</td>
</tr>
<tr class="line_end">
<th class="h_th2 th_cop_anal10" scope="row"><strong>당기순이익</strong></th>
<td class="">



				264,078


										</td>
<td class="">



				399,074


										</td>
<td class="">



				556,541


										</td>
<td class="t_line cell_strong">



				108,867


										</td>
<td class="">



				113,246


										</td>
<td class="">



				110,988


										</td>
<td class="">



				93,892


										</td>
<td class="">



				238,414


										</td>
<td class="">



				15,746


										</td>
<td class="last cell_strong">



				11,387


										</td>
</tr>
<tr>
<th class="h_th2 th_cop_anal11" scope="row"><strong>영업이익률</strong></th>
<td class="">



				15.20


										</td>
<td class="">



				18.47


										</td>
<td class="">



				14.35


										</td>
<td class="t_line cell_strong">



				3.60


										</td>
<td class="">



				18.15


										</td>
<td class="">



				18.26


										</td>
<td class="">



				14.13


										</td>
<td class="">



				6.11


										</td>
<td class="">



				1.00


										</td>
<td class="last cell_strong">



				0.31


										</td>
</tr>
<tr>
<th class="h_th2 th_cop_anal12" scope="row"><strong>순이익률</strong></th>
<td class="">



				11.15


										</td>
<td class="">



				14.27


										</td>
<td class="">



				18.41


										</td>
<td class="t_line cell_strong">



				4.06


										</td>
<td class="">



				14.56


										</td>
<td class="">



				14.38


										</td>
<td class="">



				12.23


										</td>
<td class="">



				33.84


										</td>
<td class="">



				2.47


										</td>
<td class="last cell_strong">



				1.83


										</td>
</tr>
<tr class="line_end">
<th class="h_th2 th_cop_anal13" scope="row"><strong>ROE(지배주주)</strong></th>
<td class="">



				9.98


										</td>
<td class="">



				13.92


										</td>
<td class="">



				17.07


										</td>
<td class="t_line cell_strong">



				3.06


										</td>
<td class="">



				15.13


										</td>
<td class="">



				15.10


										</td>
<td class="">



				13.42


										</td>
<td class="">



				17.07


										</td>
<td class="">



				13.71


										</td>
<td class="null last cell_strong">


										</td>
</tr>
<tr>
<th class="h_th2 th_cop_anal14" scope="row"><strong>부채비율</strong></th>
<td class="">



				37.07


										</td>
<td class="">



				39.92


										</td>
<td class="">



				26.41


										</td>
<td class="null t_line cell_strong">


										</td>
<td class="">



				39.34


										</td>
<td class="">



				36.64


										</td>
<td class="">



				36.35


										</td>
<td class="">



				26.41


										</td>
<td class="">



				26.21


										</td>
<td class="null last cell_strong">


										</td>
</tr>
<tr>
<th class="h_th2 th_cop_anal15" scope="row"><strong>당좌비율</strong></th>
<td class="">



				214.82


										</td>
<td class="">



				196.75


										</td>
<td class="">



				211.68


										</td>
<td class="null t_line cell_strong">


										</td>
<td class="">



				202.26


										</td>
<td class="">



				219.39


										</td>
<td class="">



				226.19


										</td>
<td class="">



				211.68


										</td>
<td class="">



				210.35


										</td>
<td class="null last cell_strong">


										</td>
</tr>
<tr class="line_end">
<th class="h_th2 th_cop_anal16" scope="row"><strong>유보율</strong></th>
<td class="">



				30,692.79


										</td>
<td class="">



				33,143.62


										</td>
<td class="">



				38,144.29


										</td>
<td class="null t_line cell_strong">


										</td>
<td class="">



				34,110.56


										</td>
<td class="">



				35,054.68


										</td>
<td class="">



				35,798.23


										</td>
<td class="">



				38,144.29


										</td>
<td class="">



				38,025.67


										</td>
<td class="null last cell_strong">


										</td>
</tr>
<tr>
<th class="h_th2 th_cop_anal17" scope="row"><strong>EPS(원)</strong></th>
<td class="">



				3,841


										</td>
<td class="">



				5,777


										</td>
<td class="">



				8,057


										</td>
<td class="t_line cell_strong">



				1,562


										</td>
<td class="">



				1,638


										</td>
<td class="">



				1,613


										</td>
<td class="">



				1,346


										</td>
<td class="">



				3,460


										</td>
<td class="">



				206


										</td>
<td class="last cell_strong">



				103


										</td>
</tr>
<tr>
<th class="h_th2 th_cop_anal20" scope="row"><strong>PER(배)</strong></th>
<td class="">



				21.09


										</td>
<td class="">



				13.55


										</td>
<td class="">



				6.86


										</td>
<td class="t_line cell_strong">



				45.59


										</td>
<td class="">



				10.92


										</td>
<td class="">



				8.65


										</td>
<td class="">



				8.61


										</td>
<td class="">



				6.86


										</td>
<td class="">



				9.66


										</td>
<td class="last cell_strong">



				689.24


										</td>
</tr>
<tr>
<th class="h_th2 th_cop_anal18" scope="row"><strong>BPS(원)</strong></th>
<td class="">



				39,406


										</td>
<td class="">



				43,611


										</td>
<td class="">



				50,817


										</td>
<td class="t_line cell_strong">



				51,149


										</td>
<td class="">



				45,106


										</td>
<td class="">



				46,937


										</td>
<td class="">



				49,387


										</td>
<td class="">



				50,817


										</td>
<td class="">



				51,529


										</td>
<td class="null last cell_strong">


										</td>
</tr>
<tr class="line_end">
<th class="h_th2 th_cop_anal21" scope="row"><strong>PBR(배)</strong></th>
<td class="">



				2.06


										</td>
<td class="">



				1.80


										</td>
<td class="">



				1.09


										</td>
<td class="t_line cell_strong">



				1.39


										</td>
<td class="">



				1.54


										</td>
<td class="">



				1.21


										</td>
<td class="">



				1.08


										</td>
<td class="">



				1.09


										</td>
<td class="">



				1.24


										</td>
<td class="null last cell_strong">


										</td>
</tr>
<tr>
<th class="h_th2 th_cop_anal19" scope="row"><strong>주당배당금(원)</strong></th>
<td class="">


				2,994


										</td>
<td class="">


				1,444


										</td>
<td class="">


				1,444


										</td>
<td class="t_line cell_strong">


				1,438


										</td>
<td class="no_data 2">
</td>
<td class="no_data 2">
</td>
<td class="no_data 2">
</td>
<td class="no_data 2">
</td>
<td class="no_data 2">
</td>
<td class="no_data 2 last cell_strong">
</td>
</tr>
<tr>
<th class="h_th2 th_cop_anal22" scope="row"><strong>시가배당률(%)</strong></th>
<td class="">


				3.70


										</td>
<td class="">


				1.84


										</td>
<td class="">


				2.61


										</td>
<td class="no_data 2 t_line cell_strong">
</td>
<td class="no_data 2">
</td>
<td class="no_data 2">
</td>
<td class="no_data 2">
</td>
<td class="no_data 2">
</td>
<td class="no_data 2">
</td>
<td class="no_data 2 last cell_strong">
</td>
</tr>
<tr>
<th class="h_th2 th_cop_anal23" scope="row"><strong>배당성향(%)</strong></th>
<td class="">


				77.95


										</td>
<td class="">


				25.00


										</td>
<td class="">


				17.92


										</td>
<td class="no_data 2 t_line cell_strong">
</td>
<td class="no_data 2">
</td>
<td class="no_data 2">
</td>
<td class="no_data 2">
</td>
<td class="no_data 2">
</td>
<td class="no_data 2">
</td>
<td class="no_data 2 last cell_strong">
</td>
</tr>
</tbody>
</table>
</div>]

In [3]:
import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup


URL = "https://finance.naver.com/item/main.nhn?code=005930"

samsung_electronic = requests.get(URL)
html = samsung_electronic.text

soup = BeautifulSoup(html, 'html.parser')

finance_html = soup.select('div.section.cop_analysis div.sub_section')[0]

In [4]:
th_data = [item.get_text().strip() for item in finance_html.select('thead th')]
annual_date = th_data[3:7]
quarter_date = th_data[7:13]

In [5]:
finance_index = [item.get_text().strip() for item in finance_html.select('th.h_th2')][3:]

In [6]:
finance_data = [item.get_text().strip() for item in finance_html.select('td')]

In [7]:
import numpy as np

finance_data = np.array(finance_data)
finance_data.resize(len(finance_index), 10)

In [8]:
finance_date = annual_date + quarter_date

import pandas as pd
finance = pd.DataFrame(data=finance_data[0:,0:], index=finance_index, columns=finance_date)

In [9]:
annual_finance = finance.iloc[:, :4]
quarter_finance = finance.iloc[:, 4:]

In [10]:
import pandas as pd
import requests

URL = "https://finance.naver.com/item/main.nhn?code=005930"

samsung_electronic = requests.get(URL)
html = samsung_electronic.text

financial_stmt = pd.read_html(samsung_electronic.text)[3]

financial_stmt.set_index(('주요재무정보', '주요재무정보', '주요재무정보'), inplace=True)
financial_stmt.index.rename('주요재무정보', inplace=True)
financial_stmt.columns = financial_stmt.columns.droplevel(2)
print(financial_stmt)

             최근 연간 실적                                       최근 분기 실적  \
              2020.12     2021.12     2022.12  2023.12(E)    2022.03
주요재무정보
매출액        2368070.00  2796048.00  3022314.00  2680556.00  777815.00
영업이익        359939.00   516339.00   433766.00    96433.00  141214.00
당기순이익       264078.00   399074.00   556541.00   108867.00  113246.00
영업이익률           15.20       18.47       14.35        3.60      18.15
순이익률            11.15       14.27       18.41        4.06      14.56
ROE(지배주주)        9.98       13.92       17.07        3.06      15.13
부채비율            37.07       39.92       26.41         NaN      39.34
당좌비율           214.82      196.75      211.68         NaN     202.26
유보율          30692.79    33143.62    38144.29         NaN   34110.56
EPS(원)        3841.00     5777.00     8057.00     1562.00    1638.00
PER(배)          21.09       13.55        6.86       45.59      10.92
BPS(원)       39406.00    43611.00    50817.00    51149.00   45106.00
PBR(배)           2.06        1.80        1.09        1.39       1.54
주당배당금(원)      2994.00     1444.00     1444.00     1438.00        NaN
시가배당률(%)         3.70        1.84        2.61         NaN        NaN
배당성향(%)         77.95       25.00       17.92         NaN        NaN


             2022.06    2022.09    2022.12    2023.03 2023.06(E)
주요재무정보
매출액        772036.00  767817.00  704646.00  637454.00  621614.00
영업이익       140970.00  108520.00   43061.00    6402.00    1931.00
당기순이익      110988.00   93892.00  238414.00   15746.00   11387.00
영업이익률          18.26      14.13       6.11       1.00       0.31
순이익률           14.38      12.23      33.84       2.47       1.83
ROE(지배주주)      15.10      13.42      17.07      13.71        NaN
부채비율           36.64      36.35      26.41      26.21        NaN
당좌비율          219.39     226.19     211.68     210.35        NaN
유보율         35054.68   35798.23   38144.29   38025.67        NaN
EPS(원)       1613.00    1346.00    3460.00     206.00     103.00
PER(배)          8.65       8.61       6.86       9.66     689.24
BPS(원)      46937.00   49387.00   50817.00   51529.00        NaN
PBR(배)          1.21       1.08       1.09       1.24        NaN
주당배당금(원)         NaN        NaN        NaN        NaN        NaN
시가배당률(%)         NaN        NaN        NaN        NaN        NaN
배당성향(%)          NaN        NaN        NaN        NaN        NaN