In [12]:
import yfinance as yf

---
##### 'AAPL' 이라는 티커를 가진 종목의 주가를 start에 설정한 날짜부터 오늘까지 전부 받아올 수 있는 코드
    - 만약 원하는 기간이 있다면 파라미터에 end = '2019-06-01'를 추가로 넣으면 된다.

---

In [2]:
# yf.download('AAPL',start = '2022-01-01')

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,177.830002,182.880005,177.710007,182.009995,180.434296,104487900
2022-01-04,182.630005,182.940002,179.119995,179.699997,178.144272,99310400
2022-01-05,179.610001,180.169998,174.639999,174.919998,173.405685,94537600
2022-01-06,172.699997,175.300003,171.639999,172.000000,170.510956,96904000
2022-01-07,172.889999,174.139999,171.029999,172.169998,170.679489,86709100
...,...,...,...,...,...,...
2023-06-15,183.960007,186.520004,183.779999,186.009995,186.009995,65433200
2023-06-16,186.729996,186.990005,184.270004,184.919998,184.919998,101235600
2023-06-20,184.410004,186.100006,184.410004,185.009995,185.009995,49799100
2023-06-21,184.899994,185.410004,182.589996,183.960007,183.960007,49515700
2023-06-22,183.740005,187.050003,183.669998,187.000000,187.000000,51158300

---
##### 가져올 데이터 기간 지정
---

In [13]:
start = '2020-01-01'
end = '2023-06-22'

In [14]:
symbol='AAPL'

In [16]:
AAPL_df = yf.download(symbol, start, end)
AAPL_df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-02,74.059998,75.150002,73.797501,75.087502,73.347923,135480400
2020-01-03,74.287498,75.144997,74.125000,74.357498,72.634857,146322800
2020-01-06,73.447502,74.989998,73.187500,74.949997,73.213615,118387200
2020-01-07,74.959999,75.224998,74.370003,74.597504,72.869301,108872000
2020-01-08,74.290001,76.110001,74.290001,75.797501,74.041489,132079200
...,...,...,...,...,...,...
2023-06-14,183.369995,184.389999,182.020004,183.949997,183.949997,57462900
2023-06-15,183.960007,186.520004,183.779999,186.009995,186.009995,65433200
2023-06-16,186.729996,186.990005,184.270004,184.919998,184.919998,101235600
2023-06-20,184.410004,186.100006,184.410004,185.009995,185.009995,49799100
2023-06-21,184.899994,185.410004,182.589996,183.960007,183.960007,49515700

---
##### 한 번에 여러 종목 받아오기

In [22]:
# 테슬라, 카카오, 마이크로소프트, 비트코인 달러 가격
symbol = ['TSLA','035720.KS','MSFT','BTC-USD']

df = yf.download(symbol, start, end)
df

[*********************100%***********************]  4 of 4 completed

               Adj Close                                               Close
               035720.KS       BTC-USD        MSFT        TSLA     035720.KS
Date
2020-01-01           NaN   7200.174316         NaN         NaN           NaN  \
2020-01-02  30663.927734   6985.470215  155.422028   28.684000  30724.287109
2020-01-03  30663.927734   7344.884277  153.486755   29.534000  30724.287109
2020-01-04           NaN   7410.656738         NaN         NaN           NaN
2020-01-05           NaN   7411.317383         NaN         NaN           NaN
...                  ...           ...         ...         ...           ...
2023-06-17           NaN  26510.675781         NaN         NaN           NaN
2023-06-18           NaN  26336.212891         NaN         NaN           NaN
2023-06-19  52500.000000  26851.029297         NaN         NaN  52500.000000
2023-06-20  51700.000000  28327.488281  338.049988  274.450012  51700.000000
2023-06-21  50500.000000  30027.296875  333.559998  259.459991  50500.000000

                                                          High
                 BTC-USD        MSFT        TSLA     035720.KS       BTC-USD
Date
2020-01-01   7200.174316         NaN         NaN           NaN   7254.330566  \
2020-01-02   6985.470215  160.619995   28.684000  31127.228516   7212.155273
2020-01-03   7344.884277  158.619995   29.534000  31227.964844   7413.715332
2020-01-04   7410.656738         NaN         NaN           NaN   7427.385742
2020-01-05   7411.317383         NaN         NaN           NaN   7544.497070
...                  ...         ...         ...           ...           ...
2023-06-17  26510.675781         NaN         NaN           NaN  26769.394531
2023-06-18  26336.212891         NaN         NaN           NaN  26675.925781
2023-06-19  26851.029297         NaN         NaN  53400.000000  26984.611328
2023-06-20  28327.488281  338.049988  274.450012  52900.000000  28388.968750
2023-06-21  30027.296875  333.559998  259.459991  52000.000000  30737.330078

            ...         Low                      Open
            ...        MSFT        TSLA     035720.KS       BTC-USD
Date        ...
2020-01-01  ...         NaN         NaN           NaN   7194.892090  \
2020-01-02  ...  158.330002   28.114000  31026.494141   7202.551270
2020-01-03  ...  158.059998   29.128000  30925.757812   6984.428711
2020-01-04  ...         NaN         NaN           NaN   7345.375488
2020-01-05  ...         NaN         NaN           NaN   7410.451660
...         ...         ...         ...           ...           ...
2023-06-17  ...         NaN         NaN           NaN  26328.679688
2023-06-18  ...         NaN         NaN           NaN  26510.457031
2023-06-19  ...         NaN         NaN  53400.000000  26335.441406
2023-06-20  ...  335.859985  261.119995  52400.000000  26841.664062
2023-06-21  ...  332.070007  257.779999  51700.000000  28311.310547

                                       Volume
                  MSFT        TSLA  035720.KS      BTC-USD        MSFT
Date
2020-01-01         NaN         NaN        NaN  18565664997         NaN  \
2020-01-02  158.779999   28.299999  1196436.0  20802083465  22622100.0
2020-01-03  158.320007   29.366667  1562748.0  28111481032  21116200.0
2020-01-04         NaN         NaN        NaN  18444271275         NaN
2020-01-05         NaN         NaN        NaN  19725074095         NaN
...                ...         ...        ...          ...         ...
2023-06-17         NaN         NaN        NaN  11090276850         NaN
2023-06-18         NaN         NaN        NaN   9565695129         NaN
2023-06-19         NaN         NaN  2131119.0  12826986222         NaN
2023-06-20  339.309998  261.500000  1767021.0  22211859147  26375400.0
2023-06-21  336.369995  275.130005  2027881.0  33346760979  25117800.0


                   TSLA
Date
2020-01-01          NaN
2020-01-02  142981500.0
2020-01-03  266677500.0
2020-01-04          NaN
2020-01-05          NaN
...                 ...
2023-06-17          NaN
2023-06-18          NaN
2023-06-19          NaN
2023-06-20  165611200.0
2023-06-21  211797100.0

[1268 rows x 24 columns]

---
##### 원하는 데이터 종류 가져오깅

In [4]:
data['Close']

                  AAPL        MSFT
Date
2022-01-03  182.009995  334.750000
2022-01-04  179.699997  329.010010
2022-01-05  174.919998  316.380005
2022-01-06  172.000000  313.880005
2022-01-07  172.169998  314.040009
...                ...         ...
2023-06-15  186.009995  348.100006
2023-06-16  184.919998  342.329987
2023-06-20  185.009995  338.049988
2023-06-21  183.960007  333.559998
2023-06-22  187.000000  339.709991

[369 rows x 2 columns]

---
##### yfinance로 주가 외 데이터 받아오기

    - yf.Ticker() 함수를 통해 내가 데이터를 받고자 하는 기업의 티커를 전달해주자

In [5]:
aapl = yf.Ticker('AAPL')

---
- 배당 내역

In [6]:
aapl.dividends

Date
1987-05-11 00:00:00-04:00    0.000536
1987-08-10 00:00:00-04:00    0.000536
1987-11-17 00:00:00-05:00    0.000714
1988-02-12 00:00:00-05:00    0.000714
1988-05-16 00:00:00-04:00    0.000714
                               ...
2022-05-06 00:00:00-04:00    0.230000
2022-08-05 00:00:00-04:00    0.230000
2022-11-04 00:00:00-04:00    0.230000
2023-02-10 00:00:00-05:00    0.230000
2023-05-12 00:00:00-04:00    0.240000
Name: Dividends, Length: 79, dtype: float64

---
- 주식분할 내역

In [7]:
aapl.splits

Date
1987-06-16 00:00:00-04:00    2.0
2000-06-21 00:00:00-04:00    2.0
2005-02-28 00:00:00-05:00    2.0
2014-06-09 00:00:00-04:00    7.0
2020-08-31 00:00:00-04:00    4.0
Name: Stock Splits, dtype: float64

---
- 애널리스트 평가 정보

In [8]:
# aapl.recommendations()

YFNotImplementedError: Have not implemented fetching 'recommendations' from Yahoo API

In [ ]:
# show news
msft.news

[{'uuid': 'd31aad7f-b7f2-3fb4-a58f-19212a6699d4',
  'title': 'Nvidia Is Getting a Big Boost in a Fast-Growing Market, and It Is Not AI',
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/d31aad7f-b7f2-3fb4-a58f-19212a6699d4/nvidia-is-getting-a-big-boost.html',
  'providerPublishTime': 1687442940,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/YfjEnGWZ2v4uqlhWc5FoVw--~B/aD0xNDE0O3c9MjExOTthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/motleyfool.com/d33afbc660e2674b2b20ebdf4634f4a6',
     'width': 2119,
     'height': 1414,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/cWoYb.rlciQjD49_1KikrQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/d33afbc660e2674b2b20ebdf4634f4a6',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['NVDA', 'MSFT']},
 {'uuid': '71e55d95-b625-314e-aea3-8ed87909949b',
  'title': 'Dow Jones Falls After Jobless Claims; Powell Speech Now; Tesla Stock Slides On Downgrade',
  'publisher': "Investor's Business Daily",
  'link': 'https://finance.yahoo.com/m/71e55d95-b625-314e-aea3-8ed87909949b/dow-jones-falls-after-jobless.html',
  'providerPublishTime': 1687442912,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/.bZtsgnchEamZO3REAT9sQ--~B/aD01NjM7dz0xMDAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/f507e9a69bd7ba001d8325d21822e555',
     'width': 1000,
     'height': 563,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/WS3H.kxz4qvCSKfewkjczA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/f507e9a69bd7ba001d8325d21822e555',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['^DJI', 'TSLA', 'MSFT', 'COMP', 'DXCM']},
 {'uuid': 'f6295d22-647b-3caa-b03e-15003c7fef78',
  'title': 'Microsoft’s Activision Acquisition Gets Its Day In Court. A Loss Will Kill the Deal.',
  'publisher': 'Barrons.com',
  'link': 'https://finance.yahoo.com/m/f6295d22-647b-3caa-b03e-15003c7fef78/microsoft%E2%80%99s-activision.html',
  'providerPublishTime': 1687435140,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/..RUt9zvTDReiSJ7tdFjdw--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/Barrons.com/6547f97da62d453be07e57b509f60dd1',
     'width': 1280,
     'height': 640,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/QvlAs9Q7rlQkxeF2uYFrSQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/Barrons.com/6547f97da62d453be07e57b509f60dd1',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT', 'ATVI']},
 {'uuid': 'a32ec193-d1d6-373f-a4aa-64f989d7aaee',
  'title': 'Everything to know about the Microsoft-Activision Blizzard hearing that starts today',
  'publisher': 'Fortune',
  'link': 'https://finance.yahoo.com/news/everything-know-microsoft-activision-blizzard-110953409.html',
  'providerPublishTime': 1687432193,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/78F1SGYhhhVwQusoHs7kPQ--~B/aD0xMzY1O3c9MjA0ODthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/fortune_175/4e33cd286f7e9d893b2deb5ea11c85fd',
     'width': 2048,
     'height': 1365,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/S9bzOdLCBzQBFLOKnp.Bhg--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/fortune_175/4e33cd286f7e9d893b2deb5ea11c85fd',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT', 'ATVI']},
 {'uuid': '1259b84f-8da7-3b70-809c-b32db3282f96',
  'title': 'Nvidia Now Tops Tesla as ESG Funds Ratchet Up Exposure to AI',
  'publisher': 'Bloomberg',
  'link': 'https://finance.yahoo.com/news/nvidia-more-popular-tesla-another-190000799.html',
  'providerPublishTime': 1687431543,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/uvIKx22HNav1TUgzq2aawg--~B/aD02NzU7dz0xMjAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/bloomberg_markets_842/30251671f39c6a71a0e731b9c8911575',
     'width': 1200,
     'height': 675,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/XwyY3q_kq4pOgXBsmDAdiQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/bloomberg_markets_842/30251671f39c6a71a0e731b9c8911575',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['NVDA', 'MSFT']},
 {'uuid': 'dee2a543-1b65-329d-ab64-4e9baf55fb8d',
  'title': "FTC to argue Microsoft's deal to buy Activision should be paused",
  'publisher': 'Reuters',
  'link': 'https://finance.yahoo.com/news/ftc-argue-microsofts-deal-buy-100359990.html',
  'providerPublishTime': 1687428239,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/nNenub2PCVJ7rULEaZUa1A--~B/aD01MDU7dz04MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/reuters-finance.com/1fa095229c1c4bbf65065fd89253897f',
     'width': 800,
     'height': 505,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/F0xVC83DvnV2PZSvnR6xlw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/reuters-finance.com/1fa095229c1c4bbf65065fd89253897f',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT', 'ATVI']},
 {'uuid': '247ab8ac-980f-3cde-9fbe-d7bc0ed639e9',
  'title': 'Microsoft and Activision to face FTC challenge to $75bn deal',
  'publisher': 'Financial Times',
  'link': 'https://finance.yahoo.com/m/247ab8ac-980f-3cde-9fbe-d7bc0ed639e9/microsoft-and-activision-to.html',
  'providerPublishTime': 1687428035,
  'type': 'STORY',
  'relatedTickers': ['MSFT', 'ATVI']},
 {'uuid': 'c827624f-ce15-3c3c-84af-f28b50e6152f',
  'title': '$1.2 Trillion Generative AI Boom in 3 Industries: Here Are the Top Stocks to Buy',
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/c827624f-ce15-3c3c-84af-f28b50e6152f/%241.2-trillion-generative-ai.html',
  'providerPublishTime': 1687427400,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/F4tPL_8bi1GR3g5oKB12yw--~B/aD0xMjcwO3c9MjM1OTthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/motleyfool.com/a132458a1e2ea2b003f9b9d59aa03036',
     'width': 2359,
     'height': 1270,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/.uAMmgJ1kvfp_vdAjiJSww--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/a132458a1e2ea2b003f9b9d59aa03036',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['SDA', 'WMT', 'MSFT', 'AMZN']}]

In [ ]:
# ###데이터 프레임으로 만들기###
# import pandas as pd

# #데이터 프레임 만들기
# df = pd.DataFrame({'date':,'title':news_titles,'link':final_urls,'content':news_contents})
# news_df

# #중복 행 지우기
# news_df = news_df.drop_duplicates(keep='first',ignore_index=True)
# print("중복 제거 후 행 개수: ",len(news_df))

# #데이터 프레임 저장
# now = datetime.datetime.now() 
# news_df.to_csv('{}_{}.csv'.format(search,now.strftime('%Y%m%d_%H시%M분%S초')),encoding='utf-8-sig',index=False)

In [23]:
df.to_csv('multi_assets.csv')