---
###### 흠냐륑
---

In [24]:
import yfinance as yf

---
##### 'AAPL' 이라는 티커를 가진 종목의 주가를 start에 설정한 날짜부터 오늘까지 전부 받아올 수 있는 코드
    - 만약 원하는 기간이 있다면 파라미터에 end = '2019-06-01'를 추가로 넣으면 된다.

---

In [25]:
# yf.download('AAPL',start = '2022-01-01')

---
##### 가져올 데이터 기간 지정
---

In [26]:
start = '2019-01-01'
end = '2023-06-23'

In [27]:
symbol='AAPL'

In [28]:
AAPL_df = yf.download(symbol, start, end)
AAPL_df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-01-02,38.722500,39.712502,38.557499,39.480000,37.994503,148158800
2019-01-03,35.994999,36.430000,35.500000,35.547501,34.209961,365248800
2019-01-04,36.132500,37.137501,35.950001,37.064999,35.670364,234428400
2019-01-07,37.174999,37.207500,36.474998,36.982498,35.590961,219111200
2019-01-08,37.389999,37.955002,37.130001,37.687500,36.269444,164101200
...,...,...,...,...,...,...
2023-06-15,183.960007,186.520004,183.779999,186.009995,186.009995,65433200
2023-06-16,186.729996,186.990005,184.270004,184.919998,184.919998,101235600
2023-06-20,184.410004,186.100006,184.410004,185.009995,185.009995,49799100
2023-06-21,184.899994,185.410004,182.589996,183.960007,183.960007,49515700
2023-06-22,183.740005,187.050003,183.669998,187.000000,187.000000,51158300

---
##### 한 번에 여러 종목 받아오기

In [36]:
# 현대로템, 
symbol = ['064350.KS', '012450.KS']

df = yf.download(symbol, start, end)
df

[*********************100%***********************]  2 of 2 completed

                Adj Close               Close                High
                012450.KS 064350.KS 012450.KS 064350.KS 012450.KS 064350.KS
Date
2019-01-02   31348.716797   26750.0   32950.0   26750.0   33100.0   28550.0  \
2019-01-03   32300.121094   28450.0   33950.0   28450.0   34550.0   29150.0
2019-01-04   33346.664062   28100.0   35050.0   28100.0   35200.0   28300.0
2019-01-07   32585.544922   28250.0   34250.0   28250.0   34950.0   28850.0
2019-01-08   32204.982422   28700.0   33850.0   28700.0   34650.0   29450.0
...                   ...       ...       ...       ...       ...       ...
2023-06-16  116800.000000   33800.0  116800.0   33800.0  118000.0   33900.0
2023-06-19  137300.000000   37500.0  137300.0   37500.0  138800.0   37600.0
2023-06-20  142500.000000   39350.0  142500.0   39350.0  144200.0   39800.0
2023-06-21  138800.000000   38500.0  138800.0   38500.0  147400.0   40250.0
2023-06-22  137700.000000   38400.0  137700.0   38400.0  142000.0   38950.0

                 Low                Open              Volume
           012450.KS 064350.KS 012450.KS 064350.KS 012450.KS 064350.KS
Date
2019-01-02   32400.0   26650.0   32400.0   28350.0    140721   1621370
2019-01-03   32650.0   26650.0   32700.0   27000.0    633226   2698290
2019-01-04   33450.0   27600.0   34200.0   28200.0    583826   1072464
2019-01-07   33400.0   28200.0   34950.0   28600.0    459892   1105569
2019-01-08   33700.0   28350.0   34450.0   28450.0    197742   2009963
...              ...       ...       ...       ...       ...       ...
2023-06-16  112200.0   32900.0  112300.0   33050.0   1152941   3084186
2023-06-19  118200.0   33700.0  118300.0   33850.0   3449870  11119907
2023-06-20  135800.0   36800.0  137300.0   37900.0   2163105  11328030
2023-06-21  137900.0   38250.0  143900.0   38950.0   1579729   7294249
2023-06-22  135400.0   38050.0  139500.0   38500.0    952635   3258900

[1103 rows x 12 columns]

---
##### 원하는 데이터 종류 가져오깅

In [30]:
data['Close']

                  AAPL        MSFT
Date
2022-01-03  182.009995  334.750000
2022-01-04  179.699997  329.010010
2022-01-05  174.919998  316.380005
2022-01-06  172.000000  313.880005
2022-01-07  172.169998  314.040009
...                ...         ...
2023-06-15  186.009995  348.100006
2023-06-16  184.919998  342.329987
2023-06-20  185.009995  338.049988
2023-06-21  183.960007  333.559998
2023-06-22  187.000000  339.709991

[369 rows x 2 columns]

---
##### yfinance로 주가 외 데이터 받아오기

    - yf.Ticker() 함수를 통해 내가 데이터를 받고자 하는 기업의 티커를 전달해주자

In [31]:
aapl = yf.Ticker('AAPL')

---
- 배당 내역

In [32]:
aapl.dividends

Date
1987-05-11 00:00:00-04:00    0.000536
1987-08-10 00:00:00-04:00    0.000536
1987-11-17 00:00:00-05:00    0.000714
1988-02-12 00:00:00-05:00    0.000714
1988-05-16 00:00:00-04:00    0.000714
                               ...
2022-05-06 00:00:00-04:00    0.230000
2022-08-05 00:00:00-04:00    0.230000
2022-11-04 00:00:00-04:00    0.230000
2023-02-10 00:00:00-05:00    0.230000
2023-05-12 00:00:00-04:00    0.240000
Name: Dividends, Length: 79, dtype: float64

---
- 주식분할 내역

In [33]:
aapl.splits

Date
1987-06-16 00:00:00-04:00    2.0
2000-06-21 00:00:00-04:00    2.0
2005-02-28 00:00:00-05:00    2.0
2014-06-09 00:00:00-04:00    7.0
2020-08-31 00:00:00-04:00    4.0
Name: Stock Splits, dtype: float64

---
- 애널리스트 평가 정보

In [34]:
# aapl.recommendations()

In [35]:
# show news
msft.news

NameError: name 'msft' is not defined

In [ ]:
# ###데이터 프레임으로 만들기###
# import pandas as pd

# #데이터 프레임 만들기
# df = pd.DataFrame({'date':,'title':news_titles,'link':final_urls,'content':news_contents})
# news_df

# #중복 행 지우기
# news_df = news_df.drop_duplicates(keep='first',ignore_index=True)
# print("중복 제거 후 행 개수: ",len(news_df))

# #데이터 프레임 저장
# now = datetime.datetime.now() 
# news_df.to_csv('{}_{}.csv'.format(search,now.strftime('%Y%m%d_%H시%M분%S초')),encoding='utf-8-sig',index=False)

In [ ]:
df.to_csv('hanwha_hyundai.csv')